single-category {
  height: 400px;
  margin: 15px;
}

single-category .category-wrapper {
  width: 100%;
  height: 100%;
}

single-category .category-wrapper .img-wrapper {
  height: 60%;
  background-color: #b1bfcf;
}

single-category .category-wrapper .content-wrapper {
  height: 40%;
  background: white;
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

single-category .category-wrapper .content-wrapper .main-text {
  color: #b1bfcf;
}

single-category .category-wrapper .content-wrapper .h4 {
  color: #8a939f;
}
