<div class="row filter-wrapper">
  <div class="col-md-6 col-sm-12 pull-right">
    <div class="col-xs-6"><input type="text" ng-change="vm.filterEvaluate()" ng-model="vm.selectedName" class="form-control" /></div>
    <div class="col-xs-6">
      <select class="form-control" ng-options="category for category in vm.categories" ng-change="vm.filterEvaluate()" ng-model="vm.selectedCategory">
        <option  value="">Choose category</option>
      </select>
    </div>
  </div>
</div>
<hr>
<div>
  <single-category ng-if="vm.sources" ng-repeat="src in vm.paginatedSources" class="col-md-3 col-sm-12" source="src"></single-category>
</div>
<div>
  <pagination class="pull-right"
					            ng-if="vm.sources"
					            page-size="vm.pageSize"
					            current-page="vm.currentPage"
					            page-changed="vm.pageChanged(page)"
					            total-records="vm.totalSources"></pagination>

</div>
